services:
  mysql:
    image: mysql:8
    container_name: interviewprep-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: interviewprep
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: interviewprep-adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  mysql_data:
